<h2>{{client.general.firstname | uppercase}} Details</h2>
<div><span>id: </span>{{client.id}}</div>
<div>
  <label>name:
    <input [(ngModel)]="client.general.firstname" placeholder="name">
  </label>
</div>

<h2>My Clients</h2>
<ul class="clients">
  <li *ngFor="let client of clients"
    [class.selected]="client === selectedClient"
    (click)="onSelect(hero)">
    <span class="badge">{{client.general}}</span> {{client.general.firstname}}
  </li>
</ul>
 
<div *ngIf="selectedHero">
 
  <h2>{{selectedHero.name | uppercase}} Details</h2>
  <div><span>id: </span>{{selectedHero.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="selectedHero.name" placeholder="name">
    </label>
  </div>
 
</div>
{{client.general.firstName}}
{{client.job.company}}
<!-- <div class='single-user' tabindex="-1" *ngFor="let client of clients" (click)='selectClient(client)' >
  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image" [style.backgroundImage]="'url(' + client.general.avatar + ')'"></div>
      <mat-card-title></mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
  </mat-card>
</div> -->